* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: hsl(30, 38%, 92%);
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    height: calc(100vh - 1px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;

}

.container {
    display: flex;
    flex-direction: row;
    align-items:start;
    justify-content: center;
    overflow: hidden;
    max-width: 600px;
    margin: 1rem;
}


.main-img {
    width: 60%;
    height: 100%;
}

.product-img-desktop {
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 8px 0 0 8px;
}

.product-img-mobile {
    display: none;
}

.contents {
    width: 50%;
    height: 100%;
    background-color: white;
    border-radius: 0 8px 8px 0;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-family: 'Fraunces', serif;
    color: hsl(212, 21%, 14%);
    line-height: 2rem;
}


p {
    margin: 1rem 0;
    font-size: .75rem;
    line-height: 1.5rem;
    text-align: left;
}

.category {
    margin-top: 0;
    letter-spacing: .33rem;
}

.align {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.price {
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
    font-size: 2rem;
}

.price-old {
    text-decoration: line-through;
}
 
button {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: .8rem;
    background-color: hsl(158, 36%, 37%);
    color: white;
    cursor: pointer;
    
    margin-top:1rem;
    justify-content: center;
    padding: 1rem;
    border: none;
    border-radius: .5rem;
    width: 100%;
}

button:hover {
    background-color: hsl(158, 36%, 20%);
}

.cart-icon {
    width: 15px;
    height: 14px;
}

 
 .attribution {
    color: hsl(212, 21%, 14%);
    font-size: .75rem; 
    text-align: center;
 }

 .attribution a { 
    color: hsl(158, 36%, 37%);
 }


 @media (max-width: 599px) {

    .container {
        flex-direction: column;
        min-width: 350px;
        max-width: 475px;
    }

    .main-img {
        width: 100%;
    }

    .product-img-desktop {
        display: none;
    }

    .product-img-mobile {
        display: block;
        max-width: 100%;
        border-radius: 8px 8px 0 0;
    }

    .contents {
        width: 100%;
        border-radius: 0 0 8px 8px;
    }

    p {
        font-size: .85rem;
        line-height: 1.5rem;
        text-align: left;
    }

    .category {
        font-size: .8rem;
        letter-spacing: .33rem;
    }

 }